[workspace]
members = ["apriltag-sys", "cli", "gui", "ntable", "pg"]

[workspace.package]
version = "0.1.0"
license = "GPL-3.0-or-later"
edition = "2024"

[package]
name = "viking-vision"
version.workspace = true
edition.workspace = true
license.workspace = true
autoexamples = false

[dependencies]
apriltag-sys = { path = "apriltag-sys", optional = true }
boxcar = "0.2.14"
disqualified = "1.0.0"
humantime-serde = "1.1.1"
libc = { version = "0.2", optional = true }
litemap = "0.8.1"
no_deadlocks = { version = "1.3.2", optional = true }
ntable = { path = "./ntable", optional = true }
polonius-the-crab = "0.5.0"
rayon.workspace = true
serde.workspace = true
smallvec = { version = "1.15.1", features = ["const_new", "drain_filter"] }
smol_str = { workspace = true, features = ["serde"] }
softbuffer = { version = "0.4.8", optional = true }
supply = "0.3.1"
thiserror = "2.0"
time.workspace = true
tracing.workspace = true
triomphe.workspace = true
ty-tag = "0.1.1"
typetag = "0.2.21"
v4l = { workspace = true, optional = true }
winit = { version = "0.30.12", optional = true }
zune-jpeg = "0.4.14"
zune-png = "0.4.10"

[dev-dependencies]
anyhow = "1.0"
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[features]
default = ["apriltag", "debug-gui", "ntable", "v4l"]
apriltag = ["dep:apriltag-sys", "dep:libc"]
v4l = ["dep:v4l"]
ntable = ["dep:ntable"]
debug-tools = ["dep:no_deadlocks"]
debug-gui = ["dep:softbuffer", "dep:winit"]

[workspace.dependencies]
eframe = { version = "0.33.2", features = ["persistence"] }
rayon = "1.11.0"
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
smol_str = "0.3.4"
time = { version = "0.3.44", features = ["formatting", "local-offset"] }
toml = "0.9.8"
tracing = "0.1.43"
tracing-subscriber = "0.3.20"
triomphe = "0.1.15"
v4l = "0.14.0"
viking-vision.path = "."

[[example]]
name = "pipelines"

[[example]]
name = "collect"
