[workspace]
members = ["apriltag-sys", "cli", "gui", "ntable", "pg"]

[workspace.package]
version = "0.1.0"
license = "GPL-3.0-or-later"
edition = "2024"

[package]
name = "viking-vision"
version.workspace = true
edition.workspace = true
license.workspace = true
autoexamples = false

[dependencies]
apriltag-sys = { path = "apriltag-sys", optional = true }
disqualified = "1.0.0"
humantime-serde = "1.1.1"
libc = { version = "0.2.176", optional = true }
litemap = "0.8.0"
ntable = { path = "./ntable", optional = true }
polonius-the-crab = "0.4.2"
rayon.workspace = true
serde.workspace = true
smallvec = { version = "1.15.1", features = ["const_new", "drain_filter"] }
smol_str = { workspace = true, features = ["serde"] }
supply = "0.3.1"
thiserror = "2.0"
time.workspace = true
tokio = { version = "1.48.0", optional = true, features = ["rt"] }
tracing.workspace = true
triomphe.workspace = true
ty-tag = "0.1.1"
typetag = "0.2.20"
v4l = { workspace = true, optional = true }
zune-jpeg = "0.4.14"
zune-png = "0.4.10"

[dev-dependencies]
anyhow = "1.0"
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[features]
default = ["apriltag", "ntable", "v4l"]
apriltag = ["dep:apriltag-sys", "dep:libc"]
v4l = ["dep:v4l"]
ntable = ["dep:ntable", "tokio"]
tokio = ["dep:tokio"]

[workspace.dependencies]
eframe = { version = "0.33.0", features = ["persistence"] }
rayon = "1.11.0"
serde = { version = "1.0", features = ["derive", "rc"] }
smol_str = "0.3.4"
time = { version = "0.3.44", features = ["formatting", "local-offset"] }
toml = "0.9.7"
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
triomphe = "0.1.15"
v4l = "0.14.0"
viking-vision.path = "."

[[example]]
name = "pipelines"

[[example]]
name = "collect"
